button {
  margin-right: 10px;
}

#container {
  margin: 0 auto;
  width: 100%;
  height: 844px;
  overflow: hidden;
  background-image: url('./images/board-02.png');
  background-size: contain;
  background-repeat: no-repeat;
}

section {
  position: relative;
  clear: both;
}
#sect1 {
  top: 87px;
  left: 279px;
}
#sect2 {
  top: 70px;
  left: 226px;
}
#sect3 {
  top: 52px;
  left: 172px;
}
#sect4 {
  top: 34px;
  left: 120px;
}
#sect5 {
  top: 16px;
  left: 172px;
}
#sect6 {
  top: -2px;
  left: 226px;
}
#sect7 {
  top: -19px;
  left: 279px;
}

.hex {
  width: 101px;
  height: 110px;
  margin: 0 2.85px;
  float: left;
  background-repeat: no-repeat;
  background-image: url('./images/hexes.png');
}

@media screen and (min-width: 981px) {
  #container {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  #sect1 {
    top: 8vw;
    left: 28.2vw;
  }

  #sect2 {
    top: 4.5vw;
    left: 22.8vw;
  }

  #sect3 {
    top: 0.8vw;
    left: 17.6vw;
  }

  #sect4 {
    top: -2.5vw;
    left: 12vw;
  }

  #sect5 {
    top: -6.3vw;
    left: 17.6vw;
  }

  #sect6 {
    top: -10vw;
    left: 22.8vw;
  }

  #sect7 {
    top: -13.5vw;
    left: 28.2vw;
  }

  .hex {
    width: 10vw;
    height: 13vw;
    margin: 0 0.45%;
  }
}